*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
    
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
width: 25px;
height: 2px;
background-color: whitesmoke;
margin: 5px;
transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate (-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
    
}

.toggle .line3 {
    transform: rotate(45deg) translate (-5px, -6px);
}

.form-section {
    text-align: center;
    padding: 5rem 4rem;
    background-image: url(/img/background-contact.jpg.jpg);
    filter: brightness(135%);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.form-section2 {
    text-align: center;
    background-image: url(/img/cottoncandy);
    filter: brightness(120%);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
    min-height: 800px;
}

form input, form label, form textarea, p{
    display: block;
    font-size-adjust: 3.6rem;

}

form input, form textarea {
    margin: 2rem auto;
    width: 20%;
    font-family: 'Poppins', sans-serif;
}

form button {
    padding: 1rem 4rem;
    background: pink;
    border: none;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border: white;
}

.Homepage1 {
    text-align: right;
    padding-right: 15rem;  
    padding-top: 15rem;  
    background-image: url(/img/Blumen1.jpg);
    filter: brightness(120%);
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    min-height: 800px;
    border: none;
}

.Titel1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 56px;
}

.Titel2 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
    padding-left: 8rem;
}

.bulletpoints {
    text-align: left;
    padding-left: 45rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5rem;
}

.container-fluid {
    padding-bottom: 5rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    min-height: 30vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
}

.About {
    display: flex;
    padding: 5rem;
    font-family: 'Poppins', sans-serif;

}

.About li {
    list-style: none;
}

#Biographie {
    padding-left: 8rem;
    padding-top: 8rem;
}

.Header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 15rem;


}

.description {
    font-family: 'Poppins', sans-serif;
    padding-left: 3rem;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
    float: left;
    width: 33.33%;
    padding: 1rem;
}